<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#id_date" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                altField: "#alternate",
                altFormat: "DD, d MM, yy"
            });
        });
    </script>

</head>
<body>

<form action="{% url 'new_event' %}" method="post">
    {% csrf_token %}
    Name: {{ form.name }} <br />
    Date: {{ form.date }} <input type="text" id="alternate" size="30"> <br />
    Description: {{ form.description }} <br />
    <input type="submit" value="Submit">
</form>

<a href="{% url 'event_list' %}">Back to list of events</a>


</body>
</html>
